<!-- InstanceEndEditable -->
    <footer>
        <section>
            <h3 class="recent_p">Recent Posts</h3>
            <ul>
                <li><a href="#">Standard Post</a></li>
                <li><a href="#">Layout and typography</a></li>
                <li><a href="#">Gallery past format</a></li>
                <li><a href="#">Many Categories</a></li>
            </ul>
        </section>
        <section>
            <h3 class="recent_c">Recent Comments</h3>
            <ul>
                <li><a href="#">Nicolas on Post with comments</a></li>
                <li><a href="#">Nicolas on Post with comments</a></li>
                <li><a href="#">Nicolas on Post with comments</a></li>
                <li><a href="#">cscs on Page with comments</a></li>
            </ul>
        </section>
        <section>
            <h3 class="search_f">Search on the site</h3>
            <p>Search for &#58</p>
            <form action="#">
                <p class="news_first_ul">
                    <label for="search">
                        <input type="search" id="search"/>
                    </label>
                    <br />
                    <input type="submit" value="Search"/>
                </p>
            </form>
        </section>

    </footer>
</div>
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js" ></script>
<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/js.js"></script>
</body>
<!-- InstanceEnd -->
</html>